
/*Permanent*/
.softskill__button:hover{
    color:white;
    text-decoration: underline white;
    animation: link_anim 3s;
}
.skills__title{
    text-align: center;
    font-size: 2em; /*40/20*/
    color: white;
    background-color: black;
    padding: 0.5em;
}

/*Ecran sous 767px*/
@media screen and (max-width: 767px){
    .skills__container{
        border-bottom: 2px black solid;
        margin-bottom: 2em;
    }
    .softskill__button{
        text-align: center;
        padding: 1em 7em;
        text-decoration: underline;
    }
}

/*Ecran à partir de 768px*/
@media screen and (min-width: 768px) and (max-width: 1199px) {
    .layout__skills{
        display: grid;
        grid-template-columns: 50% 50%;
    }
    .skills__title{
        grid-row: 1;
        grid-column: 1/3;
    }
    .softskills{
        grid-column: 1/3;
        border-top: 2px black solid;
    }
    .softskill__button{
        grid-column: 1/3;
        grid-row: 4;
        text-align: center;
        padding: 0.5em;
        border-top: 2px black solid;
    }
    .langages{
        border-right: 2px black solid;
    }
}

/*Ecran à partir de 1200px (pc)*/
@media screen and (min-width:1200px){
    .layout__skills{
        display: grid;
        grid-template-columns: 2fr 1fr 2fr;
        grid-template-rows: 30% 40% 30%;
    }
    .skills__title{
        grid-column: 2;
        grid-row: 2;
    }
    .skills__container .langages{
        grid-column: 1;
        grid-row: 1;
    }
    .skills__container .programs{
        grid-column: 3;
        grid-row: 1;
    }
    .softskills{
        grid-column: 1/4;
        grid-row: 3;
    }
    .softskill__button{
        grid-column: 2;
        grid-row: 1;
        border-left: 2px black solid;
        border-right: 2px black solid;
        text-align: center;
        padding-top: 5em;
        text-decoration: underline;
    }
}


